<h1>Registration</h1>
    <form method="POST" action="/users/new">
        <label>Name</label>
            <input type="text" name="[name]"><br/>
        <label>Email</label>
          <input type="email" name="[email]"> <br/>
        <label>Password</label> 
            <input type="password" name="[password]"><br/>
         <label>Password Confirmation</label> 
            <input type="password" name="[password_confirmation]"><br/>
        <label>About</label>
         <input type="textarea" name="about"><br/>
         <input type="submit" value="Create Account">
    </form>
