
    <h2>Bridge: Bringing cyclist together</h2>

    <div class="content">
      <p>Welcome to Bridge. This is a cycling app to find other cyclist and cycling groups to ride together around the world..</p>
      <a href="/users/new">Registration</a>   <a href="sessions/new">Login</a>
    </div>
