<form method="gets" action="/rides/new">
    <input type="submit" value="Create New Ride">
    </form>
<% if current_user.rides != []%>
<form method="gets" action="/rides/user">
    <input type="submit" value="My Rides">
    </form>
<%end%>
<ul>
<% @rides.each do |r| %>
<li><a href="/rides/<%= r.id %>"><%= r.name %></a></li>
   
<% end %>
</ul>
