<a href="rides/new">Create New Ride</a>
<% if current_user.rides != []%>%
<a href="rides/user">My Rides</a>
<%end%>
<ul>
<% @rides.each do |r| %>
<li><a href="/rides/<%= r.id %>"><%= r.name %></a></li>
   
<% end %>
</ul>
