<header>
<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">

<style>

</style>
</header>


<h1><%= "#{@title}" %></h1>

<ul>
<% @rides.each do |r| %>
<li><a href="/rides/<%= r.id %>"><%= r.name %></a></li>
   
<% end %>
</ul>
